<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.tedu.mall.order.mapper.OmsCartMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="cn.tedu.mall.pojo.order.model.OmsCart">
        <id column="id" property="id" />
        <result column="user_id" property="userId" />
        <result column="sku_id" property="skuId" />
        <result column="title" property="title" />
        <result column="main_picture" property="mainPicture" />
        <result column="price" property="price" />
        <result column="quantity" property="quantity" />
        <result column="gmt_create" property="gmtCreate" />
        <result column="gmt_modified" property="gmtModified" />
        <result column="bar_code" property="barCode"/>
        <result column="data" property="data"/>
    </resultMap>
<!--    简单查询omsCart的sql片段-->
    <sql id="SimpleQueryFields">
        <if test="true">
            id,
            user_id,
            sku_id,
            title,
            main_picture,
            price,
            quantity,
            gmt_create,
            gmt_modified
        </if>
    </sql>
<!--    判断购物车是否存在sku的查询语句-->
    <select id="selectExistCart" resultMap="BaseResultMap">
        SELECT
            <include refid="SimpleQueryFields"/>
        from
        oms_cart
        where
        user_id=#{userId}
        and
        sku_id=#{skuId}
    </select>
<!--    启用默认生成的行数返回给id属性-->
    <insert id="saveCart" useGeneratedKeys="true" keyProperty="id">
        insert into oms_cart(
             user_id,
             sku_id,
             title,
             main_picture,
             price,
             quantity
        ) VALUES (
                  #{userId},
                  #{skuId},
                  #{title},
                  #{mainPicture},
                  #{price},
                  #{quantity}
        )
    </insert>
<!--    修改购物车-->
    <update id="updateQuantityById" useGeneratedKeys="true" keyProperty="id">
        UPDATE oms_cart SET quantity = #{quantity} WHERE id = #{id}
    </update>

<!--    根据用户id查询购物车列表篇-->
<!--    可以不使用resultMap 但属性命名必须严格遵循驼峰命名法-->
    <select id="selectCartsByUserId" resultType="cn.tedu.mall.pojo.order.vo.CartStandardVO">
        SELECT
        <include refid="SimpleQueryFields"/>
        FROM oms_cart
        WHERE user_id = #{id}
    </select>
</mapper>




